[
  {
    "serialNumber": "DEVICE_SERIAL_NUMBER",
    "pushSdkSerial": "PUSHSDK_SERIAL_NUMBER",
    "username": "PUSHSDK_USERNAME",
    "passwordEnvironmentVariable": "PUSHSDK_TERMINAL_PASSWORD",
    "digest": "sha256",
    "securityVersion": 4,
    "commandIntervalSeconds": 5,
    "errorDelaySeconds": 30
  }
]
